.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 30vh;
}

.App-header { 
  padding: 50px;
  color: #333;
}

.App-title {
  font-size: 2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
